@model Paybook.ServiceLayer.Models.Dashboards.DashboardCounterWidgetModel

<div class="col-lg-3 col-md-6 @Model.BgColorClass @Model.BgColorHoverClass" style="border-bottom: solid 5px rgba(0, 0, 0, .3);">
    <div class="p-3" style="position: relative;">
        <div class="large">
            @Model.Total
        </div>
        <div class="tiny">
            @Model.Count&nbsp;@Model.CountText
        </div>
        <div style="font-size: 30px; position: absolute; top: 0px; right: -5px; @Model.RsSymbolColor"><i class="fa fa-rupee fa-2x"></i>₹</div>
    </div>
</div>
