@model Paybook.Web.MvcUI.Models.ViewModels.ClientViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row bg-default container-fluid">
    <div class="col-lg-6 col-md-6">
        <h4 class="bold"><i class="glyphicon glyphicon-user"></i>&nbsp; @Model.Client.Name</h4>
    </div>
    <div class="col-lg-6 col-md-6 text-right">
        <div class="btn-group pt-3">
            <a href="@Url.Action("Index")" class="btn btn-default text-primary"><i class="glyphicon glyphicon-repeat"></i>&nbsp; BACK</a>
            <a href="@Url.Action("Create","Payment", new {id=Model.Client.Id })" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp; DEPOSIT</a>
            <a href="@Url.Action("Edit", new {id=Model.Client.Id })" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i>&nbsp; EDIT</a>
            @*<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok-sign"></i>&nbsp; SAVE</button>*@
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 pt-5">
            <div class="medium pt-5">
                @if (!string.IsNullOrEmpty(Model.Client.PhoneNumber1))
                {
                    <span><i class="glyphicon glyphicon-phone-alt"></i> &nbsp; @Model.Client.PhoneNumber1 &nbsp; <i class="glyphicon glyphicon-option-vertical"></i> &nbsp;</span>
                }
                @if (!string.IsNullOrEmpty(Model.Client.PhoneNumber2))
                {
                    <span><i class="glyphicon glyphicon-phone"></i> &nbsp; @Model.Client.PhoneNumber2 &nbsp; <i class="glyphicon glyphicon-option-vertical"></i> &nbsp;</span>
                }
                @if (!string.IsNullOrEmpty(Model.Client.Email))
                {
                    <span><i class="glyphicon glyphicon-envelope"></i> &nbsp; @Model.Client.Email</span>
                }
            </div>
            <div class="medium pt-5">
                @if (!string.IsNullOrEmpty(Model.Client.AgencyName))
                {
                    <span><i class="glyphicon glyphicon-briefcase"></i> &nbsp; @Model.Client.AgencyName &nbsp; <i class="glyphicon glyphicon-option-vertical"></i> &nbsp;</span>
                }
                <span><i class="glyphicon glyphicon-map-marker"></i> &nbsp; @Model.Client.CompleteAddress</span>
            </div>
        </div>
        @{
            var paymentClass = @Model.Counters.PaymentTotal > 0 ? "success" : "danger";
        }
        <div class="col-lg-offset-2 col-lg-2 col-xs-offset-4 col-xs-4 pt-5">
            <blockquote class="@paymentClass">
                <div class="medium">₹ @Model.Counters.PaymentTotal</div>
                <div class="small">PAYMENT</div>
            </blockquote>
        </div>
        @{
            var balanceClass = @Model.Counters.BalanceTotal > 0 ? "success" : "danger";
        }
        <div class="col-lg-2 col-xs-4 pt-5">
            <blockquote class="@balanceClass">
                <div class="medium">₹ @Model.Counters.BalanceTotal</div>
                <div class="small">BALANCE</div>
            </blockquote>
        </div>
        <div class="col-lg-offset-6 col-lg-2 col-xs-4 pt-5">
            <blockquote class="warning">
                <div class="medium nowrap">₹ @Model.Counters.OpenTotal</div>
                <div class="small">OPEN</div>
            </blockquote>
        </div>
        @{
            var unpaidClass = @Model.Counters.UnpaidTotal > 0 ? "danger" : "success";
        }
        <div class="col-lg-2 col-xs-4 pt-5">
            <blockquote class="@unpaidClass">
                <div class="medium">₹ @Model.Counters.UnpaidTotal</div>
                <div class="small">UNPAID</div>
            </blockquote>
        </div>
        <div class="col-lg-2 col-xs-4 pt-5">
            <blockquote class="warning">
                <div class="medium">₹ @Model.Counters.OverdueTotal</div>
                <div class="small">OVERDUE</div>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#invoices" data-toggle="tab" aria-expanded="true">Invoices</a></li>
            <li class=""><a href="#payments" data-toggle="tab" aria-expanded="false">Payments</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="invoices">
                @Html.Partial("_ClientInvoicesTablePartial", Model.Invoices)
            </div>
            <div class="tab-pane fade" id="payments">
                @Html.Partial("_ClientPaymentsTablePartial", Model.Payments)
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">
                <div class="col-xs-10 col-xs-offset-1">
                    <center>
                        <h5 class="modal-title">FIX INVOICE PAYMENT</h5>
                    </center>
                </div>
                <div class="col-xs-1" style="padding-top:2px;">
                    <button type="button" class="float-right btn btn-outline-dark close" style="" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="glyphicon glyphicon-remove-circle"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body justify-content-center" id="myModalContent">

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
                       
            $(".anchor-pay-create").click(function () {
                var $button = $(this);
                var $id = $button.attr("data-id");

                LoadInvoicePayFormInModal($id);
            });

            // WHEN THE MODAL WILL CLOSE, FETCH THE SERVICE TABLE
            // AND UPDATE INVOICE TOTAL
            $('#myModal').on('hidden.bs.modal', function (e) {
                //console.log('myModal >> closed');
                // FILL INVOICE SERVICE TABLE
                //LoadInvoiceServiceTable();

                // UPDATE TOTAL INVOICE DUE AMOUNT
                // UPDATE FIELDS SUBTOTAL, TAXABLETOTAL, TOTAL
                //UpdateInvoiceTotal();
                location.reload();
            });
        });


        function LoadInvoicePayFormInModal(id) {

            $.ajax({
                type: "GET",
                url: "/Chief/InvoicePay/Create",
                contentType: "application/json; chatset=utf-8",
                data: { "id": id },
                cache: false,
                dataType: "html",
                success: function (data) {
                    //console.log(data);
                    $("#myModalContent").html(data);
                    $('#myModalContent form').data('validator', null);
                    $.validator.unobtrusive.parse('#myModalContent form');

                    $("#myModal").modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {

                    console.log("Dynamic content failed to load. >>jqXHR>" + jqXHR.responseText + " >>textStatus> " + textStatus + " >>errorThrown> " + errorThrown);
                }
            });
        }
    </script>
}